body {
  font-family: 'Tajawal', sans-serif;
  background-color: #140742;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 0 0 160px rgb(0, 17, 255);
  padding: 20px;
}

header {
  text-align: center;
  background-color: #012253;
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
  background-color: #012253;
}


textarea {
  width: 100%;
  height: 100px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

button {
  display: inline-block;
  width: calc(50% - 10px);
  margin: 5px;
  background-color: #012253;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6f768c;
}

#output {
  margin-top: 20px;
  
}

#output h1 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

#sign-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.sign {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.sign img {
  max-width: 100%;
  max-height: 100%;
}